<footer>
                <nav class="navbar fixed-bottom text-white">
                 <h6>&copy; Copyright @Bhavna, 2019</h6>
                      </nav>
        </footer>

    <!--JAVA script section-->
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="Scripts/app.js"></script>
  </body>
</html>