
<!-- Adds header and footer from the partials folder-->
<% include ./partials/header.ejs %>

<!-- About Page -- Content Area -->
<% if(title=="About") { %>
  
    <div class="container text-center text-white"
      style="background-image: url(https://www.newgenapps.com/hs-fs/hubfs/canvas/images/parallax/Website-Design-Background.png?width=1920&name=Website-Design-Background.png); background-repeat:yes-repeat; max-width: 100%;">
      <p style="font-size:22px;"><strong>ABOUT ME</strong></p>
      <hr class="my-4">
      <br>
      <img src="https://media.licdn.com/dms/image/C4E03AQHivI9iZeNQhw/profile-displayphoto-shrink_200_200/0?e=1555545600&v=beta&t=610bQzfnsX4CTvxqTNY4KSBvvtiRiWuHJauZL7xp2GU" width="95" height="95">
      <h1 class="display-6"><strong>BHAVNA PULLIAHGARI</strong></h1>
      <br>
      <br>
      <p style="font-size:30px;">I'm currently pursuing Software Engineering Technology at Centennial College, Toronto, Canada</p>
      <p style="font-size:28px;">I worked as a Technical Analyst Co-op at CIBC for 8 months and as a Product Analyst Intern at HSBC for 4 months</p>
      <br>
      <hr>
      <br>
      <a class="btn btn-outline-dark" href="https://www.linkedin.com/in/bhavnapulliahgari/" target="_blank" role="button">LinkedIn</a>
      <a class="btn btn-outline-dark" href="/Assets/resume-bhavnapulliahgari2019.pdf" target="_blank" role="button">Resume</a>
      <a class="btn btn-outline-dark" href="https://github.com/BhavnaP" target="_blank" role="button">GitHub</a>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  
  <%} %>

  <% include ./partials/footer.ejs %>