<% include ./partials/header.ejs %>

<!-- Contact Page -- Content Area -->
<% if(title=="Contact") { %>
  <div class="jumbotron jumbotron-fluid text-white text-center" style="background-color:rgb(34, 33, 33)">
    <div class="container"
      style="background-image: url(https://musartconcept.com/wp-content/uploads/2017/11/contact-us-wallpaper-4.jpg); background-repeat:yes-repeat; max-width: 100%;">
      <p style="font-size:22px;"><strong>CONTACT FORM</strong></p>
      <hr class="my-4">
      <br>
      
    </div>
  </div>
  <%} %>

  <% include ./partials/footer.ejs %>