<% include ./partials/header.ejs %>

<!-- Contact Page -- Content Area -->
<% if(title=="Contact") { %>

    <div class="container text-white text-center"
      style="background-image: url(assets/images/bg3.jpg); background-repeat:yes-repeat; max-width:100%;">
      <p style="font-size:22px;"><strong>CONTACT FORM</strong></p>
      <hr class="my-4">
      <br>

      <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                   <br>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="First Name" required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors">
                    <br>
                   
                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Last Name" required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors">
                  <br>
                    <input id="form_email" type="email" name="email" class="form-control" placeholder="Email" required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors">
                     
                    <br>
                    <textarea id="form_message" name="message" class="form-control" placeholder="Message" rows="4" required="required" data-error="Please, leave us a message."></textarea>
                    <div class="help-block with-errors">
                    </div>
                </div>
            </div>
            <br>
            <div class="col-md-12">
            <a class="btn btn-outline-light btn-lg" href="/" role="button">Send Message</a>
            <br><br><br><br><br><br>
                           </div>
        </div>
      
    </div>
  
  <%} %>

  <% include ./partials/footer.ejs %>