<% include ./partials/header.ejs %>

<!-- Contact Page -- Content Area -->
<% if(title=="Contact") { %>
  <div class="jumbotron jumbotron-fluid text-white text-center" style="background-color:rgb(34, 33, 33)">
    <div class="container"
      style="background-image: url(https://www.newgenapps.com/hs-fs/hubfs/canvas/images/parallax/Website-Design-Background.png?width=1920&name=Website-Design-Background.png); background-repeat:no-repeat; max-width: 100%;">
      <p style="font-size:22px;"><strong>CONTACT FORM</strong></p>
      <hr class="my-4">
      <br>
      
    </div>
  </div>
  <%} %>

  <% include ./partials/footer.ejs %>