<% include ./partials/header.ejs %>
<main>
  <!-- Home Page -- Content Area -->
  <% if(title=="Home") { %>
  <div class="jumbotron jumbotron-fluid text-white text-center" style="background-color:rgb(34, 33, 33)">
    <div class="container" style="background-image: url(https://www.newgenapps.com/hs-fs/hubfs/canvas/images/parallax/Website-Design-Background.png?width=1920&name=Website-Design-Background.png); background-repeat:no-repeat; max-width: 100%;">
      <h1 class="display-4"><strong> BHAVNA PULLIAHGARI</strong></h1>
      <hr class="my-4">
      <br>
      <p class="lead"><strong>Welcome to my portfolio</strong></p>
      <br>
      <p>
        <h1>For me, Life is all about finding Joy in little things and to Welcome each life experience as an oppurtunity
          to Learn and Grow</h1>
      </p>
      <br><br><br><br>
      <hr>
      <a class="btn btn-outline-dark btn-lg" href="/about" role="button">Click here to know more</a>
      <br>
      <br>
    </div>
  </div>
  <%} %>
</main>

<% include ./partials/footer.ejs %>