
<!-- Adds header and footer from the partials folder-->
<% include ./partials/header.ejs %>

<!-- Projects Page -- Content Area -->
<% if(title=="Projects") { %>
    <div class="container text-center text-white"
      style="background-image: url(https://img1.goodfon.com/original/1920x1080/c/b1/iphone-macbook-ruchka.jpg); background-repeat:yes-repeat;  max-width: 100%; max-height: 100%;">
      <p style="font-size:22px;"><strong>PROJECTS</strong></p>
      <hr class="my-4">
      
        <div class="row">
            <div class="column">
                <div class="img-with-text text-center" >
                <img src="/Assets/images/project1.png" align="center" width="700" height="350" alt="sometext" hspace="15"/>
                <p align="center"><strong><br><mark>FOOD HOMIE</mark></strong></p>
                <p align="center"> Food homie is a website that can help connect home-based cooks who provide homemade food</br>This includes food delivery or pickup, payment, schedule meals for a week and online payment<br/>
                I have developed the payment gateway using bootstrap and javascript on Visual Studio Code</p>
                </div>
                
                <div class="column">
                <div class="img-with-text text-center">
                <img src="/Assets/images/project2.png" align="center" width="700" height="350" alt="sometext" hspace="15" />
                <p align="center"><strong><br><mark>BOOK THRU</mark></strong></p>
                <p align="center"> Book thru is an online auction website where students can view, sell and buy books</br>This includes bidding, option to buy/sell books, chat and payment gateway</br>
                The technologies involved in this project are .NET Core, HTML, CSS, JS and AWS </p>
                </div>

                <div class="column">
                <div class="img-with-text text-center">
                <img src="/Assets/images/project3.jpg" align="center" width="700" height="350" alt="sometext" hspace="15"/>
                <p align="center"><strong><br><mark>STORE LOCATOR</mark></strong></p>
                <p align="center"> Store locator is an online android application which gives the location of the selected store</br>This includes list of stores, its locations and maps with two views<br/>
                The application is developed using Java language on Android Studio</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        
    </div>
  <%} %>

  <% include ./partials/footer.ejs %>