
<!-- Adds header and footer from the partials folder-->
<% include ./partials/header.ejs %>

<!-- Services Page -- Content Area -->
<% if(title=="Services") { %>
    <div class="container text-center text-white"
      style="background-image: url(https://img1.goodfon.com/original/1920x1080/c/b1/iphone-macbook-ruchka.jpg); background-repeat:yes-repeat; max-width: 100%;">
      <p style="font-size:22px;"><strong>SERVICES</strong></p>
      <hr class="my-4">
  <div>
    <ul>
        <li>
        <img src="https://www.androidguys.com/wp-content/uploads/2017/10/green-Microsoft-Excel-VBA.png" align="Left" width="300" height="300" />
        <h3 align="left"><br><br><br><br>Excel VBA with SQL</h3>
        </li>
        
        <li>
        <img src="https://line25.com/wp-content/uploads/2016/06/2-Man-holds-the-program-code.jpg" align="Left" width="300" height="300" />
        <h3 align="left"><br><br><br><br>Web Development - HTML, CSS, JS</h3>
        </li>
    
        <li>
        <img src="http://eclipse-articles.com/wp-content/uploads/2018/09/Many-Role-Technical-Writer-Freelance-Technical-Writing.jpg" align="Left" width="300" height="300" />
            <h3 align="left"><br><br><br><br>Technical Documentation</h3>
        </li>
    </ul>
  </div>
      <br>    
</div>
  
  <%} %>

  <% include ./partials/footer.ejs %>